.chart{
  flex: 3;
  // background-color: brown;
  border-radius: 10px;
  box-shadow: 9px 7px 20px -3px rgba(167,166,167,0.75);
    -webkit-box-shadow: 9px 7px 20px -3px rgba(167,166,167,0.75);
    -moz-box-shadow: 9px 7px 20px -3px rgba(167,166,167,0.75);
}