.home {
  display: flex;

  .home__container {
    flex: 6;

    .widgets, .charts {
      // background-color: aqua;
      display: flex;
     justify-content: space-around;
     margin-top: 20px;
     
    }

    .charts {
      padding: 5px  20px 5px 20px;
      // background-color: aqua;
      gap: 10px;
    }


    .tableContainer {
      border-radius: 10px;
      box-shadow: 9px 7px 20px -3px rgba(167,166,167,0.75);
     -webkit-box-shadow: 9px 7px 20px -3px rgba(167,166,167,0.75);
     -moz-box-shadow: 9px 7px 20px -3px rgba(167,166,167,0.75);
     margin: 20px;
     padding: 20px;


     .tableTiltle {
       font-weight: 500;
       color: #808080;
       margin: 0 0 25px 5px;
     }
    }
  }
}
