.home {
  display: flex;

  .home__container {
    flex: 6;

    .widgets {
      // background-color: aqua;
      display: flex;
     justify-content: space-around;
     margin-top: 20px;
     
    }
  }
}
