.sidebar {
  flex: 1;
  min-height: 100vh;
  border-right: 0.5px solid rgb(230, 227, 277);



  .top {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.5px solid rgb(230, 227, 277); ;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #774792;
    }
  }

  .middle {
    padding-left: 10px;

    ul {
      margin: 0;
      padding: 0;

      .title {
        font-size: 12px;
        font-weight: bold;
        color: #999;
        margin: 15px 0 5px 0;
      }
      li {
        list-style: none;
        display: flex;
        padding: 5px;
        align-items: center;
        cursor: pointer;

        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          color: #745188;
          font-size: 20px;
        }

        span {
          font-size: 13px;
          font-weight: bold;
          color: #888;
          margin-left: 10px;
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    margin: 10px;

    .colorOptions {
      height: 20px;
      width: 20px;
      margin: 2px;
      border-radius: 5px;
      border: 1px solid #745188;
      cursor: pointer;

      &:nth-child(1) {
        background-color: whitesmoke;
      }

      &:nth-child(2) {
        background-color: #333;
      }
    }
  }
}
